SQLAlchemy - the library to work with different types of relational databases

1. import sqlalchemy

In [1]:
from sqlalchemy import create_engine

2. create engine to access the database

In [ ]:
engine = create_engine("sqlite:///Northwind.sqlite") # attention!!! should be between quotes

3. get the names of the tables in the DB

In [ ]:
table_names = engine.table_names()
print (table_names)

Creating a database engine
Here, you're going to fire up your very first SQL engine. You'll create an engine to connect to the SQLite database 'Chinook.sqlite', which is in your working directory. Remember that to create an engine to connect to 'Northwind.sqlite', Hugo executed the command


engine = create_engine('sqlite:///Northwind.sqlite')
Here, 'sqlite:///Northwind.sqlite' is called the connection string to the SQLite database Northwind.sqlite. A little bit of background on the Chinook database: the Chinook database contains information about a semi-fictional digital media store in which media data is real and customer, employee and sales data has been manually created.

https://github.com/lerocha/chinook-database

Why the name Chinook, you ask? According to their website (https://github.com/lerocha/chinook-database)

- Import the function create_engine from the module sqlalchemy.
- Create an engine to connect to the SQLite database 'Chinook.sqlite' and assign it to engine.

In [ ]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

- Import the function create_engine from the module sqlalchemy.
- Create an engine to connect to the SQLite database 'Chinook.sqlite' and assign it to engine.
- Using the method table_names() on the engine engine, assign the table names of 'Chinook.sqlite' to the variable table_names.
- Print the object table_names to the shell.

In [ ]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

# Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)