# import the needed functions

In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [4]:
engine = create_engine("sqlite://Northwind.sqlite")

In [ ]:
con = engine.connect()

In [ ]:
rs = con.execute("SELECT * FROM Orders")

In [ ]:
df = pd.DataFrame(rs.fetchall())

In [ ]:
print(df.head())

to set right colum names we need to use data from keya() of rs

In [ ]:
df.columns = rs.keys()

closing the connection to the DB

In [7]:
con.close()

## querying data from db using context manager

In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [4]:
engine = create_engine("sqlite://Northwind.sqlite")

here comes the content manager

In [ ]:
with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()

fetchmany(size=5) fetches 5 rows instead of all rows when using fetchall()

- Open the engine connection as con using the method connect() on the engine.
- Execute the query that selects ALL columns from the Album table. Store the results in rs.
- Store all of your query results in the DataFrame df by applying the fetchall() method to the results rs.
- Close the connection!

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute("SELECT * from Album")

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

- Execute the SQL query that selects the columns LastName and Title from the Employee table. Store the results in the variable rs.
- Apply the method fetchmany() to rs in order to retrieve 3 of the records. Store them in the DataFrame df.
- Using the rs object, set the DataFrame's column names to the corresponding names of the table columns.

all imports are done above

In [ ]:
# Open engine in context manager
engine = create_engine("sqlite:///Chinook.sqlite")
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT LastName, Title from Employee")
    df = pd.DataFrame(rs.fetchmany(3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

## filtering the database queries

You can now execute a basic SQL query to select records from any table in your database and you can also perform simple query customizations to select particular columns and numbers of rows.

There are a couple more standard SQL query chops that will aid you in your journey to becoming an SQL ninja.

Let's say, for example that you wanted to get all records from the Customer table of the Chinook database for which the Country is 'Canada'. You can do this very easily in SQL using a SELECT statement followed by a WHERE clause as follows:

__SELECT * FROM Customer WHERE Country = 'Canada'__

In fact, you can filter any SELECT statement by any condition using a WHERE clause. This is called filtering your records.

In this interactive exercise, you'll select all records of the Employee table for which 'EmployeeId' is greater than or equal to 6.

Packages are already imported as follows:

_import pandas as pd
from sqlalchemy import create_engine_
Query away!

- Complete the argument of create_engine() so that the engine for the SQLite database 'Chinook.sqlite' is created.
- Execute the query that selects all records from the Employee table where 'EmployeeId' is greater than or equal to 6. Use the >= operator and assign the results to rs.
- Apply the method fetchall() to rs in order to fetch all records in rs. Store them in the DataFrame df.
- Using the rs object, set the DataFrame's column names to the corresponding names of the table columns.

In [ ]:
# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT * from Employee WHERE EmployeeId >= 6")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

### Ordering your SQL records with ORDER BY

You can also order your SQL query results. For example, if you wanted to get all records from the Customer table of the Chinook database and order them in increasing order by the column SupportRepId, you could do so with the following query:

_"SELECT * FROM Customer ORDER BY SupportRepId"_

In fact, you can order any SELECT statement by any column.

In this interactive exercise, you'll select all records of the Employee table and order them in increasing order by the column BirthDate.

Packages are already imported as follows:

__import pandas as pd
from sqlalchemy import create_engine__

- Using the function create_engine(), create an engine for the SQLite database Chinook.sqlite and assign it to the variable engine.
- In the context manager, execute the query that selects all records from the Employee table and orders them in increasing order by the column BirthDate. Assign the result to rs.
- In a call to pd.DataFrame(), apply the method fetchall() to rs in order to fetch all records in rs. Store them in the DataFrame df.
- Set the DataFrame's column names to the corresponding names of the table columns.

In [ ]:
# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee ORDER BY BirthDate")
    df = pd.DataFrame(rs.fetchall())

    # Set the DataFrame's column names
df.columns = rs.keys()

# Print head of DataFrame
print(df.head())