# Concatenate several tables into one
Data shouldn't have the same columns

pd.concat([data_1, data_2, data_3])

axis = 0 - vertical concatenation

axis = 0 is the default

## ignoring index if has no valuable information

pd.concat([data_1, data_2, data_3], ignore_index = True)

## set labels to original tables

pd.concat([data_1, data_2, data_3], ignore_index = False, keys=['data1', 'data2', 'data3'])

## different columnn number

we can sort the columns 

if data2 contains columns that are absent in data1, then data1 will have NaN in this column

pd.concat([data_1, data_2, data_3], sort=True)

## including only common columns into the result DF

pd.concat([data_1, data_2], join='inner')


## append - simplified concat

data_1.append([data_2, data_3], ingnore-index=True, sort = True)

append does only **join = 'outer'**

append is the DF method

## Concatenation basics

You have been given a few tables of data with musical track info for different albums from the metal band, Metallica. 

The track info comes from their Ride The Lightning, Master Of Puppets, and St. Anger albums. Try various features of the .concat() method by concatenating the tables vertically together in different ways.

The tables **tracks_master**, **tracks_ride**, and **tracks_st** have loaded for you.

Concatenate tracks_master, tracks_ride, and tracks_st, in that order, setting sort to True.

In [ ]:
# Concatenate the tracks
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],sort=True)
print(tracks_from_albums)

### Concatenate the tracks so the index goes from 0 to n-1
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],
                               ignore_index = True,
                               sort=True)
print(tracks_from_albums)

In [ ]:
# Concatenate the tracks so the index goes from 0 to n-1
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],
                               ignore_index = True,
                               sort=True)
print(tracks_from_albums)

### Concatenate tracks_master, tracks_ride, and tracks_st, showing only columns that are in all tables.

In [ ]:
# Concatenate the tracks, show only columns names that are in all tables
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],
                               join = 'inner',
                               sort=True)
print(tracks_from_albums)

## Concatenating with keys

The leadership of the music streaming company has come to you and asked you for assistance in analyzing sales for a recent business quarter. They would like to know which month in the quarter saw the highest average invoice total. You have been given three tables with invoice data named **inv_jul**, **inv_aug**, and **inv_sep**. Concatenate these tables into one to create a graph of the average monthly invoice total.

In [ ]:
# Concatenate the tables and add keys
inv_jul_thr_sep = pd.concat([inv_jul, inv_aug, inv_sep], 
                            keys=['7Jul', '8Aug', '9Sep'])

# Group the invoices by the index keys and find avg of the total column
avg_inv_by_month = inv_jul_thr_sep.groupby(level=0).agg("total")

# Bar plot of avg_inv_by_month
avg_inv_by_month.bar()
plt.show()