In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("sales.csv", index_col="month")


simplest indexing is by column x row

df["col_name"]["row_label"]

In [9]:
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

In [10]:
df["salt"]["Jan"]

12.0

In [11]:
df.eggs["Mar"]

221

### indexing using accessors

- .loc
- .iloc

In [15]:
#df.loc["row_label", "col_label"]
df.loc["May", "spam"]

52

In [14]:
#df.iloc[row, col]
#zero based indexing
df.iloc[4,2]

52

In [18]:
#nested list to ensure the return result is data frame
df[["salt", "eggs"]]

       salt  eggs
month
Jan    12.0    47
Feb    50.0   110
Mar    89.0   221
Apr    87.0    77
May     NaN   132
Jun    60.0   205